extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Connor 

        p.lead.text-light
          | Systems Analyst

        .portfolio-bio
          p My name is Connor - I'm a tech enthusiast/policy guru/board game geek.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li Javascript
          li Jquery
          li Node
          li Express
          li Activism
          li Pug
          li Python
          li React
        h6 Contact Info

        ul
          li 555-555-5555
          li cswat@github.com

        a.button.expanded(href='https://www.linkedin.com/in/connor-swatling-8880573b/') LinkedIn
        a.button.expanded(href='https://github.com/cswat') GitHub
        a.button.expanded(href='https://twitter.com/ConnSwat') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back