extends layout.pug

block content 
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Connor Swatling

        p.lead.text-light
          | Growth-seeker and tech enthusiast with 6 years in data environments, development leadership, and product design. Currently at-home in Denver, Colorado.

        .portfolio-bio
          p
            strong Current status: 
            | Learning development for the Arduino, GCP, and Unity ecosystems.
            br
            br
            | Having ideas isn't the same as following-through and I'm excited to update this site with my latest creations.
            br
            br
            | If you're looking to contact me for a collaboration, project, or just to say 'Hi,' use the links at the right.
            br
            br
            | Click one of the links on the left to view a project showcase or check out my #[a(href="/endorsements") endorsements page].
            br
            br
            | Click my face (the image thumbnail at top left) to return to this page.


      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li ADA compliance
          li Tableau
          li Business writing
          li HTML
          li CSS
          li Git
          li UI/UX design
          li Agile
          li Javascript
          li Jquery
          li Node
          li Express
          li Pug
          li Python
          li React
        h6 Reach me at:

        p connor.swatling@gmail.com

        h6 Or check me out on:

        a(href='https://www.linkedin.com/in/cswat/') 
          img.brand-icon(src='../static/images/LI-In-Bug.png')
        a(href='https://twitter.com/ConnSwat') 
          img.brand-icon(src='../static/images/Twitter_Logo_Blue.png')
        a(href='https://github.com/cswat') 
          img.brand-icon(src='../static/images/GitHub-Mark-64px.png')